@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import

"vendors/bootstrap",
'vendors/calendar';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/login',
  'pages/items';

// 7. Themes
@import
  'themes/default';


  @import url('https://fonts.googleapis.com/css2?family=Biryani:wght@700&family=Montserrat:wght@300&display=swap');

  //font-family: 'Biryani', sans-serif;
  //font-family: 'Montserrat', sans-serif;

h1{
  color:white;
}



.row{
display: flex;
align-items: center;
flex-direction: row;
}

.carousel-item{
 height: 500px;
}


textarea{
  resize: none;
}

.verify{
  display: flex;
  justify-content: center;
  align-self: center;
}

.verify p{
color: red;
}
#myalert{
  color: red;
  text-align: center;
}

#loggedin{
  text-align: center;
  color: red;
}