// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#bikeItem{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
height: auto;
background-color:red;
border-radius: 10px;
}

#bikeItem button{
  background-color:#00ACC1;
  margin-bottom: 10px;
  border: none;
}


.modal{
  text-align: center;
}

