// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#bikeItem{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
height: auto;
border-radius: 10px;
border: 1px solid grey;
padding-left: 50px;
padding-right: 50px;
padding-top:20px;
}





#bikeItem h3{
  font-family:'Biryani';
}

#bikeItem p{
  font-family: 'Montserrat';
}


.biketext{
  margin-top: 30px;
}

.infobutton{
font-size: 15px;
border-radius: 5px;
border: none;
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
height: 50px;

}


.modal{
  text-align: center;
}
