// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.bikeItem{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
height: auto;
background-color:red;
}

.bikeItem input{
  margin-bottom: 10px;
}
