#Myitem{


}

#itemimg{

}

#itemimg img{
  padding-left: 30px;
  padding-right: 30px;
 margin-bottom:1200px;
}

.bikeName{
  color: black;
}


.price{
  border-radius: 5px;
  font-size: 30px;
}

#textareaID{
border-radius: 10px;
font-size: 15px;
padding-left: 10px;
width: 100%;
resize: none;
height: 100px;
}


#info{
margin-top: 100px;
height:100%;
padding-left: 10px;
}


.sub{
margin-top: 10px;
margin-left: 290px;
border-radius: 5px;
border: none;


}

#buyme{
  border-radius: 5px;
border: none;
width: 100%;
margin-top: 10px;
height: 50px;
}

#bikeItemReview{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:20px;
  word-wrap:break-word;;
  }
  
  
  