#mainitem{
margin-top: 50px;
}



#mainitem img{
    border-radius: 10px;;
}
.bikeName{
text-align: center;
color: red;
}

#textareaID{
    text-align: center;
    width: 100%;
    resize: none;
    height:100px;
}