#join {
margin-top: 50px;
background-color:#00ACC1;
color: #FFFF;
}
#join button{
background-color: red;
outline:none;
border: none;
}

.promise{
text-align: center;
}


#nowords{
    visibility: hidden;
}