// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.warning{
  color: #00ACC1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  height:30px;
  align-items: center;

}


.first-header{
    border : 1px solid red;
  background-color:#00ACC1;
  height: auto;
  display:flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  align-items: center;
  flex-direction: row;

}

#header{


}

#search{
  border : 1px solid red;
  display: flex;
  align-items: center;
}


.MainSearch{
  border: 5px solid red;
  width: 150%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-left: 60px;
  margin-right: 20px;

}

#icon{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


#icon h3{
margin-right: 10px;
margin-top: 3px;
font-size: 20px;
color: white;
}


.second-header{
  width: 100%;
  height:auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
}

.second-header h3{
  margin-right: 20px;
  margin-top: 3px;
  color: #ff0000;
  font-size: 20px;
}

i{
  font-size: 40px;
  color: white;
}


.guarantee{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  background-color: red;
  width: 100%;
  height: auto;
}

.guarantee p{
margin-top: 15px;
font-size: 15px;
color: white;
}



@media only screen and (max-width: 767px) {
#icon h3 {
   font-size: 40px;
   margin-right: 100px;
   justify-content: flex-start;
  }

#icon{
  justify-content: flex-start;
}

.MainSearch{
  width: 50%;
}
}
